.app-bar {
  position: static;
}

.logo {
  width: 15%;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.container {
  padding: 24px;
  height: calc(100vh - 88px); /* Full height minus the app bar */
  display: flex;
}

.card-container {
  max-height: 100%;
  overflow-y: auto;
  flex: 0 0 300px; /* Fixed width for the card container */
  margin-right: 24px; /* Space between card container and chart/table */
}

.chart-table-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chart-wrapper,
.table-wrapper {
  flex: 1;
  display: none; /* Hide by default */
  width: 100%; /* Set chart width to 75vw */
  overflow: hidden; /* Prevent internal overflow */
}

.chart-wrapper.visible,
.table-wrapper.visible {
  display: flex; /* Show when active */
  flex-direction: column;
}

.chart-area-wrapper,
.table-area-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chart-area-wrapper canvas {
  width: 100% !important; /* Ensure canvas takes full width */
}

.table-content {
  flex: 1;
  overflow: auto; /* Allow scrolling for table */
}
